/* Configuración general */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: #FFFFFF;

    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.65)
        ),
        url("../img/fondo-contacto.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* Centra todo el contenido */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenido principal */
main {
    width: 500px;
    max-width: 90%;
    text-align: center;
    padding: 30px 0;
}

/* Título */
h1 {
    color: #39FF14;
    margin-top: 0;
    margin-bottom: 5px;
    text-shadow:
        0 0 10px #39FF14,
        0 0 20px #1E90FF;
}

/* Texto bajo el título */
.subtitulo {
    color: #FFFFFF;
    margin-bottom: 20px;
    text-shadow: 0 0 5px #000000;
}

/* Formulario */
form {
    background-color: rgba(21, 21, 21, 0.94);

    padding: 25px;

    border: 2px solid #39FF14;
    border-radius: 12px;

    box-shadow:
        0 0 15px rgba(57, 255, 20, 0.7),
        0 0 25px rgba(30, 144, 255, 0.25);

    text-align: left;
}

/* Etiquetas */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Campos */
input,
textarea {
    width: 100%;
    padding: 10px;

    background-color: #202020;
    color: #FFFFFF;

    border: 2px solid #39FF14;
    border-radius: 6px;

    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Caja del comentario */
textarea {
    height: 120px;
    resize: vertical;
}

/* Cuando seleccionamos un campo */
input:focus,
textarea:focus {
    outline: none;

    border-color: #1E90FF;

    box-shadow:
        0 0 8px #1E90FF,
        0 0 12px rgba(57, 255, 20, 0.5);
}

/* Mensajes de error */
span {
    display: block;

    min-height: 18px;

    margin-top: 3px;
    margin-bottom: 5px;

    color: #ff5252;
    font-size: 12px;
}

/* Botón */
button {
    width: 100%;

    padding: 12px;
    margin-top: 5px;

    background-color: #39FF14;
    color: #000000;

    border: none;
    border-radius: 6px;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

/* Efecto del botón */
button:hover {
    background-color: #1E90FF;
    color: #FFFFFF;

    box-shadow:
        0 0 15px #1E90FF,
        0 0 20px #39FF14;

    transform: scale(1.02);
}

/* Volver al inicio */
.volver {
    display: inline-block;

    margin-top: 20px;

    color: #39FF14;
    font-weight: bold;

    text-decoration: none;
    text-shadow: 0 0 8px #000000;
}

.volver:hover {
    color: #1E90FF;
    text-decoration: underline;
}

/* Diseño para celular */
@media (max-width: 600px) {

    body {
        align-items: flex-start;
    }

    main {
        width: 92%;
        padding: 25px 0;
    }

    form {
        padding: 18px;
    }
}